.container {
  max-width: 761px;
  margin: 0 auto;
  position: relative;
}

.title {
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: 33%;
  left: 10%;
  right: 10%;
  text-align: center;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.signButton {
  width: 320px;
  height: 50px;
  background-color: #6421FF;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: lighter;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 50px;
}

.valueText {
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 78%;
  left: 10%;
  right: 10%;
  text-align: center;
}

.tveExpress {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translateX(-50%);
  width: 262px;
  height: 89px;
  object-fit: contain;
}

.myFamilyCinema { 
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  width: 292px;
  height: 97px;
  object-fit: contain;
}

.mundoKids {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  width: 173px;
  height: 119px;
  object-fit: contain;
}

.youtubePremium {
  position: absolute;
  top: 160%;
  left: 50%;
  transform: translateX(-50%);
  width: 278px;
  height: 52px;
  object-fit: contain;
}

